<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_ICurrencyService">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8090/CurrencyService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICurrencyService"
                contract="CurrencyService.ICurrencyService" name="NetTcpBinding_ICurrencyService">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>